
h1{
  color: blue;
}
body{
  background-image: url("../image/abstract-triangles.png");
}
p{
  text-align: center;
}
ul{
  text-align: center;
}
li{
  text-align: center;
}
h3{
  text-align: center;
}
h3{

}
